.btn {
    display: inline-block;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 200;
    color: black;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    transition: 0.3s all;

    &:disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    &__primary {
        background: #E7414D;
        color: white;
        border: 1px solid #E7414D;
        border-radius: 30px;

        &:hover {
            background: white;
            border: 1px solid #E7414D;
            color: #E7414D;
        }
    }

    &__secondary {
        background: white;
        border: 1px solid black;

        &:hover {
            background: black;
            color: white;
        }
    }

    &__register {


        &__company {
            background: #E7414D;
            color: white;
            border: 1px solid #E7414D;
            border-radius: 5px;
            width: 100%;
            margin: 10px;

            &:hover {
                background: white;
                border: 1px solid #E7414D;
                color: #E7414D;
            }
        }

        &__freelance {
            background: #E7414D;
            color: white;
            border: 1px solid #E7414D;
            border-radius: 5px;
            width: 100%;
            margin: 10px;

            &:hover {
                background: white;
                border: 1px solid #E7414D;
                color: #E7414D;
            }
        }

    }

    &__link {
        background: none;
        border: none;
        color: #E7414D;
        font-size: 18px;
        font-weight: 400;
        text-decoration: underline;
        padding: 0;
        margin: 0;
        cursor: pointer;
        transition: 0.3s all;

        &:hover {
            color: black;
            text-decoration: none;
        }
    }

    &__admin {
        background: #E7414D;
        color: white;
        border: 1px solid #E7414D;
        border-radius: 5px;
        width: 20%;
        margin: 10px;

        &:hover {
            background: white;
            border: 1px solid #E7414D;
            color: #E7414D;
        }
    }
}