.content {

    height: 100%;
    display: flex;

    &:hover {
        border-color: #000;
    }

    img {
        object-fit: cover;
        border-radius: 100%;
        width: 20vw;
        height: 20vw;
        margin-left: 10vw;
    }

    .textDiv {
        padding: 20px;
        margin-left: 5vw;
        margin-top: 3vw;

        h3 {
            margin: 0 0 10px;
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            color: black;
            font-weight: bold;
        }

        p {
            margin: 0;
            font-weight: 400;
            line-height: 22px;
            color: black;
        }

        .priceDiv {
            background-color: red;

        }

        .experienceDiv {
            background-color: white;
            border: 1px solid lightgray;
        }

        .jobDiv {
            display: flex;
            flex-wrap: wrap;
        }

        .skillDiv {
            display: flex;
            flex-wrap: wrap;
        }

        .centerDiv {

            display: flex;
            align-items: center;
            justify-content: center;
        }

    }
}