@mixin cross($size: 10px, $color: currentColor, $thickness: 1px) {
    &:after {
        display: inline-block;
        content: "\00d7";
        width: $size;
        height: $size;
        position: relative;
    }

}

.btn {
    display: inline-block;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 200;
    color: black;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    transition: 0.3s all;

    &:disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    &__primary {
        background: #E7414D;
        color: white;
        border: 1px solid #E7414D;
        border-radius: 30px;

        &:hover {
            background: white;
            border: 1px solid #E7414D;
            color: #E7414D;
        }
    }

    &__secondary {
        background: #E7414D;
        color: white;
        border: 1px solid #E7414D;
        border-radius: 30px;

        &:hover {
            background: white;
            border: 1px solid #E7414D;
            color: #E7414D;
        }
    }

    &__remove {
        background: white;
        border: 1px solid #E7414D;
        color: #E7414D;
        font-size: 12px;
        padding: 5px 10px;
        margin: 1px;
        @include cross(20px, black, 2px);
    }
}