.category {



    &__job {
        background: lightblue;
        color: white;
        border-radius: 30px;
        padding: 5px 10px;
        margin: 5px;
        font-size: 12px;
        width: auto;
        display: inline-block;
    }

    &__skill {
        background: lightblue;
        color: white;
        border-radius: 30px;
        padding: 5px 10px;
        margin: 5px;
        font-size: 12px;
        width: auto;
        display: inline-block;
    }
}